<div *ngIf="messenger.tipoUsuario == 'profesor'">
  <app-header-profesor></app-header-profesor>
</div>

<div *ngIf="messenger.tipoUsuario == 'estudiante'">
  <app-header-estudiante></app-header-estudiante>
</div>

<div class="sample-container">
<ejs-filemanager #filemanager id='overview' [ajaxSettings]='ajaxSettings'
                 (beforeImageLoad)="beforeImage($event)" (beforeSend)="beforeSend($event)"
                 [view]='view' (toolbarClick)='toolbarClick($event)'
                 (menuClick)='menuClick($event)' (success)='onAjaxSuccess($event)' (failure)='onAjaxFailure($event)'>
</ejs-filemanager>
</div>
