.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 6px 15px;
  cursor: pointer;
  font-size: 20px;
}
.login-dark {
  position: relative;
  height: 1200px;
  background:#475d62 url(https://www.tec.ac.cr/hoyeneltec/sites/default/files/styles/colorbox/public/media/img/main/aerea_tec.jpg);
  background-size: cover;

}
